@import "../../variables.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 35px 8% 0 8%;
    padding-top: 50px;
    animation: fadeInLeft 1s forwards;
}

.content {
    margin-left: 35px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
}

.title {
    align-self: flex-start;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: var(--font-barlow);
    color: var(--color-secondary-d);
    background-clip: text;
}

.description {
    font-size: 24px;
    font-family: var(--font-barlow);
    margin-bottom: 20px;
    max-width: 500px
}

.contactBtn {
    text-decoration: none;
    background-color: inherit;
    color: var(--color-secondary-d);
    box-shadow: 0 0 3px 2px var(--color-secondary-d);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 22px;
    transition: 0.3s ease-in-out;
}

.contactBtn:hover {
    background-color: var(--color-secondary-d);
    color: var(--color-bg);
    box-shadow: none;
}

.profileImg {
    max-width: 33%;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 var(--color-secondary-d50);
    margin: 20px 0;
    transition: box-shadow 1s ease;
}

.profileImg:hover {
    box-shadow: 0 5px 15px 3px var(--color-secondary-d75);
}

.socials {
    margin-left: auto;
}

.links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.link img {
    display: flex;
    width: 40px;
    transition: transform 0.3s ease;
}

.link img:hover {
    transform: scale(1.2);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.letter {
    display: inline-block;
    position: relative;
    opacity: 0;
    color: var(--color-secondary-d50);
    animation: flyIn 0.3s forwards, gradientReveal 5.1s forwards;
}

@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translate(-50px, -50px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes gradientReveal {
    0% {
        background: none;
    }
    100% {
        background: linear-gradient(
            180deg, 
            var(--color-secondary-d75) 10%, 
            var(--color-secondary-d) 90%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        margin-top: 15px;
        animation: none;
    }

    .content {
        align-items: center;
        margin-right: 35px;
    }

    .title {
        align-self: center;
        font-size: 35px;
        margin-bottom: 10px;
    }

    .description {
        align-self: center;
        margin-bottom: 15px;
    }

    .contactBtn {
        font-size: 18px;
        padding: 10px 18px;
    }

    .socials {
        display: none;
        width: 100%; 
    }

    .links {
        margin-top:  20px;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 0;
    }

    .link img {
        margin-right: 0;
        width: 25px;
    }

    .profileImg {
        margin: 10px 0;
        margin-top: 25px;
    }

    .letter {
        opacity: 1;
        animation: none;
        color: var(--color-secondary-d);
        background: linear-gradient(
            180deg, 
            var(--color-secondary-d75) 10%, 
            var(--color-secondary-d) 90%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}