:root {
    --color-text: #2F2F2F;
    --color-primary: #282828;
    --color-secondary: #F2545B;
    --color-bg: #FAFAFA;

    --font-barlow: "Barlow";

    --color-text-d: #e2dddd;
    --color-primary-d: #FFFFFF;
    --color-secondary-d: #FF6F61;
    --color-bg-d: #1E1E1E;
}