@import "../../variables.css";

html {
    scroll-padding-top: 70px;
}

.container {
    border-radius: 10px;
    padding: 35px;
    margin: 50px 8% 0 8%;
    box-shadow: 0 3px 10px 0 rgba(255,111,97, 0.5);
}

.title {
    color: var(--color-primary-d);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: var(--font-barlow);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    opacity: 0;
    transform: translateX(-100px);
    transition: 1s ease;
}


.aboutItems {
    color: var(--color-text-d);
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-self: flex-start;
}

.aboutItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    list-style: none;
    width: 50%;
    padding: 10px 10px 15px 20px;
    background-image: linear-gradient(
        -90deg, 
        rgba(255,111,97, 0.42) 0%, 
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItemRight {
    background-image: linear-gradient(
        90deg, 
        rgba(255,111,97, 0.38) 0%, 
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0% 100%;
    background-position: right;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.rightItem:hover {
    background-size: 100% 100%;
    background-position: right;
}

.aboutItemTitle {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.aboutItem p {
    font-size: 20px;
}

.aboutItem a {
    color: var(--color-secondary-d);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.aboutItem img {
    width: 35px;
    height: 35px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 10px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.skill p {
    font-size: 15px;
}

.skillContainer {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.skillContainer img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 830px) {
    .container {
        box-shadow: none;
        padding: 0;
        margin-top: 35px;
    }

    .content {
        flex-direction: column;
        gap: 15px;
    }

    .title {
        border-left: 3px solid rgba(255,111,97, 0.75);
        padding-left: 7px;
    }

    .aboutItems {
        margin-top: 17px;
        flex-direction: column;
    }

    .aboutItemsRight {
        flex-direction: column;
    }

    .aboutItem {
        padding-left: 0;
        width: 100%;
    }

    .aboutItemRight {
        background-image: linear-gradient(
            -90deg, 
            rgba(255,111,97, 0.38) 0%, 
            rgba(255, 255, 255, 0) 100%
        );
        background-position: left;
    }
}