@import "../../variables.css";

.navWrap {
    background-color: var(--color-bg);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
    box-shadow: 0 3px 5px 0  var(--color-secondary-d75);
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    margin: 0 8%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-barlow);
    text-decoration: none;
    color: var(--color-secondary-d);
    align-self: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menuItems {
    display: flex;
    gap: 35px;
    list-style: none;
    margin-right: 15px;
    align-items: center;
}

.menuItems a {
    font-size: 20px;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.menuItems a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color:  var(--color-secondary-d75);
    transition: width 0.3s ease-in-out;
}

.menuItems a:hover::after {
    width: 100%;
}

.menuBtn {
    display: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 12%;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        width: 35px;
        position: relative;
        left: 50px;
    }

    .menuItems {
        display: none;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--color-bg);
        background: linear-gradient(0deg, var(--color-secondary-d75) 0%, var(--color-secondary-d) 100%);
        padding: 15px 30px;
        box-shadow: 0 3px 10px 0  var(--color-secondary-d50);
        left: 50px;
    }

    .menuItems a{
        color: var(--color-bg);
    }

    .menuOpen {
        display: flex;
    }
}