:root {
    --color-text: #e2dddd;
    --color-primary: #FFFFFF;
    --color-bg: #1E1E1E;

    --color-secondary-d: #F2545B;
    --color-secondary-d75: rgba(242,84,91, 0.75);
    --color-secondary-d50: rgba(242,84,91, 0.50);

    --font-barlow: "Barlow";
    /*
    --color-secondary-d: #FF6F61;
    */
}

[data-theme='dark'] {
    --color-text: #e2dddd;
    --color-primary: #FFFFFF;
    --color-bg: #1E1E1E;
}

[data-theme='light'] {
    --color-text: #2F2F2F;
    --color-primary: #282828;
    --color-bg: #FAFAFA;
}